<% flash.each do |type, message| %>
    <div id="popup" class="alert alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
    </div>
<% end %>