<div class="firstpage">
  <center>
  <image src="/image/whale_title.png" class="first_logo">
  <div class="card_box" style="margin-top:30px;">
    <div class="card_box">
      <p class="card_hash">#끼부리기좋음1</p>    
      <img src="/image/albumart_1.png" class="first_image">
      <a href="/whale/search"><img src="/image/plus_albumart.png" class="first_plus"></a>
    </div>
  </div>
  <br>
  <br>  
  <p class="first_comment">지금 <img src="/image/plus_albumart.png" style="width:25px"> 버튼을 클릭하여 노래를 추가하세요</p>
    
  </center>
</div>

