<div class="reservation">
<%= render :partial => 'whale/navbar' %>
<center>
    <div class="row">
        <div class="col-xs-12">
            <img src="/image/booking_1.png" class="booking1">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <img src="/image/booking_2.png" class="booking2" style="margin-left: 493px;">
        </div>
    </div>

<br>
<center>
<img src="/image/tri_left.png" class="login_tri" style="padding-top:4px"><br>
<img src="/image/tri_left.png" class="login_tri" style="padding-top:4px"><br>
<img src="/image/tri_left.png" class="login_tri" style="padding-top:4px"><br>
</center>
<br>
<br>


    <div class="row">
        <div class="col-xs-12">
            <img src="/image/booking_3.png" class="booking3">
        </div>
    </div>
<br>
<br>
<br>
    

</center>